// Colors
$bluegray: rgb(111,157,175);
$dkblue: rgb(13,51,66);
$blue: rgb(66,121,143);

//Fonts
$michroma:  'Michroma', sans-serif;

.hover {
  color: white;
  background-color: $dkblue;
}

.is-hidden {
  display:none;
}

.space-after {
    padding-bottom: 2rem;
}
